@font-face {
	font-family: 'AquilineTwo';
	src: url('elements/font/AquilineTwo.ttf') format('truetype');
}

body{
	margin:0;
}
#nav{
	background-image: url(elements/img/nav.png);
	background-repeat: no-repeat;
	height: 58px;
	width: 100%!important;
	position: fixed;
	background-size: cover;
	z-index: 999;
	-webkit-box-shadow: 0px 7px 2px -4px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 7px 2px -4px rgba(0,0,0,0.29);
	box-shadow: 0px 7px 2px -4px rgba(0,0,0,0.29);
	display: inline-block;
}
#btn1{
	height: 58px;
	width: 200px;
	float: left;
	top: 0;
}
#btn2{
	height: 58px;
	width: 160px;
	float: left;
	top: 0;
}
#btn3{
	height: 58px;
	width: 140px;
	float: left;
	top: 0;
}
#btn4{
	height: 58px;
	width: 840px;
	float: left;
	top: 0;
}
#btn5{
	height: 58px;
	width: 80px;
	float: left;
	top: 0;
}
#screen1{
	background-image: url(elements/img/index00.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

/* Section Flo */
/* --- Section Welcome --- */
.welcome, .biography {
	height:100vh;
}
.partial-wel, .partial-bio {
	padding-right: 0 !important;
	padding-left: 0 !important;
	height: 50vh;
	width: 100vh;
}
.title {
	height: 10vh;
	margin-top: 5vh;
	padding-top: 1.5vh;
}
.title_wel, .title_bio {
	color: darkcyan;
	font-family: 'AquilineTwo';
}
.openlife {
	padding-left: 10vw;
}
.title_sun {
    margin-top: -2vh;
	padding-right: 12vw;
	font-size: 30px;
	float: right;
	color: orange;
}
.text1 p, .text2 p, .text_bio p {
	font-size: 17px;
}
.text1 {
	height: 40vh;
	padding-top: 5vh;
}
.text2 {
	height: 40vh;
	padding-top: 5vh;
}
.bye {
	padding-top: 5vh;
	font-size: 17px;
	float: right;
}
.gallery {
	margin-top: 57.5vh;
}
.w-photo {
	height: 20vh;
	width: auto;
}
/* --- Section Bio --- */
.whoiam {
	font-size: 40px;
}
.title_bio {
	padding-bottom: 12vh;
}
.photo_bio {
	background-image: url(elements/img/box_img.jpg);
	height: 30vh;
    width: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.name, .ICFHE, .year {
	text-align: center;
}
.name {
	padding-top: 2vh;
	padding-bottom: 1.5vh;
}
.text_bio {
	text-align: justify;
}
.bio1 {
	text-indent: 5vh;
}

.test_img1 {
	background-image: url(elements/test_img/1.jpg);
}
.test_img2 {
	background-image: url(elements/test_img/2.jpg);
}
.test_img3 {
	background-image: url(elements/test_img/3.jpg);
}
.test_img4 {
	background-image: url(elements/test_img/4.jpg);
}
.test_img5 {
	background-image: url(elements/test_img/5.jpg);
}
.test_img6 {
	background-image: url(elements/test_img/6.jpg);
}
.test_img7 {
	background-image: url(elements/test_img/7.jpg);
}
.test_img8 {
	background-image: url(elements/test_img/8.jpg);
}

#screen2{
	background-image: url(elements/img/index01.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 150vh;
}
#screen3{
	background-image: url(elements/img/index02.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}
#screen4{
	background-image: url(elements/img/index03.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 120vh;
}
#screen5{
	display: none;
	background-image: url(elements/img/lightBox.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 110vh;
	z-index: 99999;
	position: absolute;
	cursor: pointer;
}
#screen6{
	background-image: url(elements/img/index04.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 170vh;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
	#screen1{
		background-position: center;
	    padding-top: 15vh;
	}
}